{% extends "overout.html" %}
{% block body %}

<div class="aboutbg">
  <h1 style="
font-size: 40px;margin: 30px;color: blanchedalmond;"> <b>About Us<b> </h1>
  <p class="font mono ..." style="  
color: blanchedalmond;
">We are the most dedicated conservation organisation in the world,<br> working to protect
    the nature and wildlife on which
    all life depends.</p>

</div>
<hr>

<div class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 p-14 font-sans italic"
  style=" font-size: 30px;">Ram Ram Saa Foundation is a Non-profit organisation estabilished in 2020.<br>
  We are inolved in Social work activities.
  Our aim is to support the Indian government’s national priorities by bringing in our expertise in science, global
  experience, ability to take pilot initiatives to scale, and working dedicatedly.
</div>

</div>
<hr>
<div class="flex flex-col text-center w-full mb-4  " style=" font-size: 40px;">
  <h1>How we Work</h1>
</div>
<hr>
<div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;"><u>Our organisational objectives</u>
</div>
<div class="flex flex-col text-center w-full mb-4  font-mono italic px-22" style=" font-size: 22px;">
  We want to ensure that India develops sustainably while also conserving its natural resources for people and nature.
  We are working to:</div>
<div class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 px-22 font-serif italic"
  style=" font-size: 20px;">

  <br>
  <hr><b>
    01 :-

    Promote the role of nature-based solutions</b><br>
  in sustainable development to demonstrate that environment conservation and economic development can go hand in hand.
  <br>
  <hr>
  <b>02 :-

    Build the business case for conservation</b><br>
  and increase investment in nature by demonstrating nature’s value in human wellbeing and the long-term sustainability
  of businesses and economic development.
  <hr>
  <!-- our team -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="static/8d.jpeg">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Punit Janawat</h2>
              <h3 class="text-gray-500 mb-3">Director</h3>
              <p class="mb-4">In nature, nothing is perfect and everything is perfect.</p>

            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="static/9d.png">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Gaurav Janawat</h2>
              <h3 class="text-gray-500 mb-3">Director</h3>
              <p class="mb-4"> Heaven is under our feet as well as over our heads.</p>

            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- our team -->
</div>
<div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;">
  <b>Your support can help safeguard India’s future</b>
</div>
<br>
<div class=" px-22 font-serif italic">
  When you make a tax-deductible donation to Ram Ram Saa Foundation, you’re supporting the most effective solutions to
  the environment’s most pressing challenges. Your contribution is so much more than a donation; it is an investment in
  the future of our planet.
</div>
<br>
</div>
<button
  class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a
    href="/donate">Donate Now</a></button>
</div>
<hr>



{% endblock %}
