{% extends "overout.html" %}
{% block body %}

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScNxtaUY8mR1sSJMoJCh64sFwbiSvMxJjVYYVXp1hnqNpG9SQ/viewform?embedded=true" width="650" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> <!-- //// -->
 
 
 <br>
 <br>
 <br>
 <br>
 <br>
  <div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;">
    <b>Your support can help safeguard India’s future</b>
</div>
<br>
<div class="mx-auto my-4 px-22 font-serif italic">
    When you make a tax-deductible donation to Ram Ram Saa Foundation, you’re supporting the most effective solutions to
    the environment’s most pressing challenges. Your contribution is so much more than a donation; it is an investment
    in
    the future of our planet.
</div>
<br>
</div>
<button
    class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a
        href="/donate">Donate Now</a></button>
</div>
<hr>
{% endblock %}