{% extends "overout.html" %}
{% block body %}
<div class="donatebg">
    <h1 style="
font-size: 40px;margin: 30px;color: blanchedalmond;"> <b>Donate Us<b> </h1>
    <p class="font mono ..." style="
    
color: blanchedalmond;
">Help the Mother Nature and make a change</p>

</div>
<div class="contact1">
    <form name="sentMessage" id="contactForm" action="/donate" method="post" novalidate>
        <section class="text-gray-600 body-font relative">
            <div class="container px-3 py-5 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Donate Us</h1>
                    <hr>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base"><b>You can help protect India’s people and
                            nature by making a tax-deductible donation to Ram Ram Saa Foundation.</b>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">When you donate, you’re supporting effective
                        solutions to big environmental challenges—an investment in the future of our planet.</p>
                    </p>
                    <hr>
                </div>
                <div class="lg:w-1/2 md:w-2/3 mx-auto">
                    <div class="flex flex-wrap -m-2">
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="amount" class="leading-7 text-sm text-gray-600">Donation Amount </label>
                                <input type="text" id="amount" name="amount"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                        </div>
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="billname" class="leading-7 text-sm text-gray-600">Billing Name</label>
                                <input type="text" id="billname" name="billname"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <div class="relative">
                                <label for="address" class="leading-7 text-sm text-gray-600">Address</label>
                                <input type="text" id="address" name="address"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                            <div class="relative">
                                <label for="state" class="leading-7 text-sm text-gray-600">State</label>
                                <input type="text" id="state" name="state"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                            <div class="relative">
                                <label for="pin" class="leading-7 text-sm text-gray-600">Pin</label>
                                <input type="text" id="pin" name="pin"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                            <div class="relative">
                                <label for="phone" class="leading-7 text-sm text-gray-600">Contact No.</label>
                                <input type="text" id="phone" name="phone"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>

                            <div class="relative">
                                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                                <input type="email" id="email" name="email"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                            <div class="relative">
                                <label for="pan" class="leading-7 text-sm text-gray-600">Passport Or PAN number</label>
                                <input type="text" id="pan" name="pan"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out required">
                            </div>
                            <p>* We will not be able to issue 80G receipts without PAN details.

                                <br>* You’ll receive email updates from Ram Ram Saa Foundation. You can unsubscribe at
                                any time.
                            </p>

                            <div class="mt-2">
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" class="form-checkbox text-indigo-600" checked>
                                        <span class="ml-2">I am an Indian citizen.</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" class="form-checkbox text-green-500" checked>
                                        <span class="ml-2"> I agree to terms and conditions.</span>
                                    </label>
                                </div>
                                <div>
                                    <br>

                                    <div class="p-2 w-full">
                                        <button type="submit" id="cbutton" onclick="addstatus()"
                                            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-3 focus:outline-none hover:bg-indigo-600 rounded text-lg">Check Out</button>
                                    </div>

                                </div>
                            </div>
                        </div>
        </section>
        <form>
</div>

{% endblock %}