{% extends "overout.html" %}
{% block body %}

<div class="indexbg">
    <h1 style="
font-size: 40px;margin: 30px;color:   #ffffff;"> <b>About Us<b> </h1>
    <p class="font mono ..." style="  
color:  #ffffff;
">We are the most dedicated conservation organisation in the world,<br> working to protect
the nature and wildlife on which
all life depends.</p>
<br>
<br>
<button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
    <a href="/about"> Learn More</a>
</button>

</div>
<hr>
<div id="heros">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/3.jpg" alt="our priorities" height="210px" width="210px">
                    </div>
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">Our priorities</h2>
                    <p class="leading-relaxed text-base font-sans ...">We are supporting national conservation
                        priorities by applying our
                        expertise in science and global experience, as well as our ability to take initiatives<br> to
                        scale and collaborate.</p>
                    <a href="/services" class="mt-3 text-indigo-500 inline-flex items-center font-sans ...">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" font-sans
                            .. stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/1.jpg" alt="our priorities" height="210px" width="210px">
                    </div>

                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">How we Work</h2>
                    <p class="leading-relaxed text-base font-sans ....">We support national priorities, collaborate with
                        diverse stakeholders, focus on results and impact, and lead with science to achieve conservation
                        success.</p>
                    <a href="/about" class="mt-3 text-indigo-500 inline-flex items-center font-sans ...">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" font-sans
                            .. stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>

            </div>
            <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/5.jpg" alt="our priorities" height="210px" width="210px">
                    </div>

                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">Donate Us</h2>
                    <p class="leading-relaxed text-base font-sans ...">
                        You can help protect India’s people and nature by making a donation to Ram Ram Saa Foundation.</p>
                    <a href="/donate" class="mt-3 text-indigo-500 inline-flex items-center font-sans ...">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
             
    </section>


    <!-- // -->
    
    <div class="volunteerbg">
        <h1 style="
    font-size: 40px;margin: 40px 30px;color: #ffffff;"> <b>Become A Volunteer<b> </h1>
        <p class="font mono ..." style="  
    color: #ffffff;
    ">Progress is impossible without change, and those who cannot change their minds cannot change anything. Come and join our organization</p>
    <button
    class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a
    href="/contact">Join Us</a></button>
</div>
    </div>
    </div>
    <!-- // -->

</div>
<div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;">
    <b>Your support can help safeguard India’s future</b></div>
    <br>
    <div class=" px-32 font-serif italic">
    When you make a tax-deductible donation to Ram Ram Saa Foundation, you’re supporting the most effective solutions to the environment’s most pressing challenges. Your contribution is so much more than a donation; it is an investment in the future of our planet.
    </div>
    <br>
</div>
<button
class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="/donate">Donate Now</a></button>
</div>



  
{% endblock %}