{% extends "overout.html" %}
{% block body %}

<div class="servicesbg">
    <h1 style="
font-size: 40px;margin: 40px 30px;color: #ffffff;"> <b>What We Do<b> </h1>
    <p class="font mono ..." style="  
color: #ffffff;
">OUR PRIORITIES</p>

</div>

</div>
<hr>

<div class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 p-14 font-sans italic"
    style=" font-size: 30px;">Planet Earth, our only home, is facing a potential future environmental crisis. With so
    much at stake and only limited resources to apply, it’s important that we prioritise our work here in India – as we
    do around the world – on the most significant challenges.</div>

</div>
</div>

</div>
<hr>

<div class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 p-14 font-sans italic"
    style=" font-size: 20px;">India is one of the 17 mega-biodiverse countries on Earth. With close to 2% of the
    planet’s land area and 4% of its freshwater, India is home to approximately 8% of Earth’s recorded species,
    including 96,000 animal species and 47,000 plants.

    <br> Despite our huge human population, India is also the 10th most forested country in the world and home to more
    than half of the world’s remaining wild tigers and other iconic mammals such as Asian Elephants, Snow Leopards, Red
    Pandas, Himalayan Brown Bears, Indian Rhinoceroses and Asiatic Lions.
</div>

</div>

<!-- content -->
<hr>
<div id="heros">
    <section class="text-gray-600 body-font">
        <div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;">Our Priorities
        </div>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/11.jpg" alt="our priorities" height="210px" width="210px">
                    </div>
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">Provide Food & Water
                        Sustainably</h2>
                    <p class="leading-relaxed text-base font-sans ...">India’s protected areas cover just 5% of its
                        landmass. For India’s spectacular natural heritage to survive into the long term, more of its
                        precious wild habitats need to be protected and restored.</p>

                </div>
            </div>
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/1.jpg" alt="our priorities" height="210px" width="210px">
                    </div>

                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">Protect & Restore Wild
                        Habitats</h2>
                    <p class="leading-relaxed text-base font-sans ....">We support national priorities, collaborate with
                        diverse stakeholders, focus on results and impact, and lead with science to achieve conservation
                        success.</p>

                </div>

            </div>
            <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
                <div>
                    <div class="ourprior"><img src="/static/12.jpg" alt="our priorities" height="210px" width="210px">
                    </div>

                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 font-sans ...">Support Renewable Energy</h2>
                    <p class="leading-relaxed text-base font-sans ...">
                        For humanity to meet the required greenhouse gas emissions reductions targets to avoid
                        catastrophic climate change, we are going to need to source more of our energy from renewable
                        sources like wind and solar.
                    </p>

                </div>
                <hr>
              
                <hr>

    </section>

    <!-- content -->

    <div class="volunteerbg">
        <h1 style="
    font-size: 35px;margin: 15px 30px;color: #ffffff;"> <b>Become A Volunteer<b> </h1>
        <p class="font mono ..." style="  
    color: #ffffff;
    ">Progress is impossible without change, Come and join our organization</p>
    <button
    class="flex mx-auto mt-8 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a
    href="/career">Join Us</a></button>
</div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>


</div>
<div class="flex flex-col text-center w-full mb-4  " style=" font-size: 25px;">
    <b>Your support can help safeguard India’s future</b>
</div>
<br>
<div class="mx-auto my-4 px-22 font-serif italic">
    When you make a tax-deductible donation to Ram Ram Saa Foundation, you’re supporting the most effective solutions to
    the environment’s most pressing challenges. Your contribution is so much more than a donation; it is an investment
    in
    the future of our planet.
</div>
<br>
</div>
<button
    class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a
        href="/donate">Donate Now</a></button>
</div>
<hr>

{% endblock %}